.SideBar {
    background-color: white;
    position: sticky;
    top: 70px;
    left: 0;
    width: 60px;
    /* bottom: 0; */
    /* height: 600px; */
    height: calc(100vh - 75px);
    transform: translateX(-60px);
    /* height: 100%; */
    /* flex: 1; */
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
}

.SideBar.visible {
    transform: translateX(0);
}

.SideBar .navLink {
    display: flex;
    color: #373d4a;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    list-style: none;
    height: 60px;
    text-decoration: none;
    font-size: 16px;
    font-family: ProximaNovaSemibold;
    padding-left: 1rem;
}

.SideBar .navLink:hover {
    background: linear-gradient(90deg,#dddddd 10%, rgba(226, 232, 239, 0) 100%);
    border-left: 4px solid #a4a4a4;
    cursor: pointer;
}

.SideBar .navLink.selected {
    background: linear-gradient(90deg,#dddddd 10%,rgba(226, 232, 239, 0) 100%);
}

.Sidebar .label {
    color: #373d4a;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    margin-left: 1rem;
}

@media screen and (min-width: 1000px) {
    .SideBar {
        /* background-color: #333; */
        transform: translateX(0);
    }
}