input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.react-calendar__navigation__label {
  color: rgb(153, 147, 147) !important;
}

.calendarPm .react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.calendar .react-calendar {
  width: 350px;
  max-width: 100%;
  background: white important;
  border: none !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.calendarPm .react-calendar__navigation button:hover {
  min-width: 44px;
  background: none;
  color: rgb(153, 147, 147) !important;
}

.calendarPm .react-calendar {
  width: 350px;
  max-width: 100%;
  /* background: #006edc !important; */
  border: none !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation__prev-button {
  font-size: 33px;
  color: #006edc !important;
}
.react-calendar__navigation__arrow {
  font-size: 33px;
  color: #006edc !important;
}

/* above code is necessary for darshan*/
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__month-view__days__day {
  border-radius: 25px !important;
  height: 50px !important;
  color: rgb(70, 70, 70) !important;
  font-weight: 700;
}
.calendar .react-calendar__month-view__days__day {
  border-radius: 25px !important;
  height: 50px !important;
}

/* .calendar .react-calendar__tile--now {
   background: transparent !important;
  color: black; 
} */

/* .calendarPm .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: red !important;
  color: #006edc !important;
} */

.react-calendar__tile--active {
  background: white !important;
  color: black !important;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  color: rgb(182, 182, 182) !important;
  font-weight: 500 !important;
}

.calendar .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #006edc !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #006edc !important;
  color: white !important;
}

.react-calendar__tile--now {
  background: white !important;
}

/* .calendarPm .react-calendar__tile--now {
  background: cadetblue !important;
} */
