.MuiSlider-thumb {
  height: 12px !important;
  width: 12px !important;
}

.MuiSlider-root {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.MuiSlider-rail {
  opacity: 1 !important;
  height: 4px !important;
}
