.body {
  font-family: ProximaNovaRegular;
}

.Toastify__progress-bar--default {
  background: #3871da !important;
}

.btn-primary {
  color: black !important;
  background-color: white !important;
  border-color: #dadada !important;
  width: 110px !important;
  margin: 0px !important;
  height: 40px !important;
  padding: 1px !important;
}

.btn-primary:focus {
  color: white !important;
  background-color: #3871da !important;
  border-color: #3871da !important;
  width: 110px !important;
  margin: 0px !important;
  height: 40px !important;
  padding: 1px !important;
}

.MuiTable-stickyHeader {
  border-collapse: collapse !important;
}

.dateTextField {
  border: none;
}
.dateTextField:active:focus {
  border: none;
}

.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none !important;
  position: relative;
  z-index: 10;
}

.react-date-picker__calendar .react-calendar {
  border-width: thin;
  border-radius: 4px !important;
}

.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4 !important;
}

.react-calendar__month-view__days__day {
  border-radius: 5px !important;
}
