.body {
  font-family: ProximaNovaRegular;
}

.Toastify__progress-bar--default {
  background: #348ef7 !important;
}

.btn-primary {
  color: white !important;
  background-color: #348ef7 !important;
  border-color: #348ef7 !important;
  width: 110px !important;
  margin: 0px !important;
  height: 40px !important;
  padding: 1px !important;
}
