.DropDown {
    position: relative;
    display: inline-block;
}

.DropDown-Header:hover {
    cursor: pointer;
}

.DropDown-Content {
    display: none;
    position: absolute;
    min-height: 180px;
    max-height: 250px;
    border-radius: 4px;
    min-width: 200px;
    z-index: 2;
    overflow-y: scroll;
    overscroll-behavior: contain;
}

.DropDown-Content-Disabled {
    display: none;
    position: absolute;
}

.DropDown-Content.Visible {
    display: block;
}

.DropDown:hover .DropDown-Content-Disabled {
    display: none;
}
